/*ESTILO:*/
/* Para todos los archivos HTML*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(rgb(88, 139, 88), rgb(155, 206, 163));
}
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,300;1,200&family=Raleway:ital,wght@1,200&family=Shadows+Into+Light&display=swap');

.posicionLogoGP {
  /*logo*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encabezado {
  color: cornsilk;
}
.estiloMenu {
  color: cornsilk !important;
  line-height: 2.5;
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
  font-size: 1.2rem;
}

p {
  color: rgb(255, 255, 255);
  line-height: 1, 5;
  font-size: 1.05rem;
}

.posicionMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h2 {
  display: block;
  color: cornsilk;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: one;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.estiloRedes {
  list-style-type: none;
  color: cornsilk;
  line-height: 1.5;
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
  font-size: 1rem;
}
.tituloRedes {
  color: cornsilk;
  font-size: 2rem;
}

/*Para el archivo principal de la página (index)*/

#tamañoFoto {
  /*frase*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estiloBienvenida {
  color: cornsilk;
  font-size: 1.05rem;
}

/*Para el archivo de la página de los productos*/

.productosOrganizacion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 85%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-evenly;
}

/*Para el archivo de la página "contactos"*/
legend {
  color: cornsilk;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1.2rem;
  line-height: 2;
}

.cuestionarioEstilo {
  display: block;
  font-size: 1.3rem;
  color: cornsilk;
}

/*Para el archivo de la página nosotros*/

.infoGP {
  color: cornsilk;
  font-size: 1rem;
  line-height: normal;
  font-size: 1.3rem;
  text-align: justify;
  margin-left: 2rem;
  display: inline;
}

.nosotrosOrganizacion {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  line-height: 2;
}
/*MEDIA QUERIES*/
header {
  grid-area: headerIndex;
}
nav {
  grid-area: navIndex;
}
aside {
  grid-area: asideIndex;
}
section {
  grid-area: sectionIndex;
}
footer {
  grid-area: footerIndex;
}
main {
  grid-area: main;
}
.contenedorInfo {
  grid-area: contenedorInfo;
}
.contenedor {
  display: grid;
}
.contenedorInfo {
  display: grid;
}

/*Para celulares*/
@media screen and (min-width: 320px) and (max-width: 760px) {
  .contenedor {
    max-width: 100rem;
    grid-template-rows: 10rem auto auto auto auto 10rem;
    grid-template-columns: auto;
    grid-template-areas: 'headerIndex' "navIndex" 'main' 'asideIndex' 'sectionIndex' 'footerIndex';
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .encabezado,
  .posicionLogoGP {
    color: cornsilk;
    padding-top: 0.5rem;
  }
  .posicionMenuBarra{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .tamañoFotoNosotros {
    max-width: 12rem;
  }
  .tamañoLogo {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .infoGP {
    font-size: 1rem;
    text-align: justify;
  }

  .tituloRedes {
    font-size: 1rem;
    max-width: 5rem;
  }
  .tamañoFooter {
    max-width: 2rem;
  }
  .tamañoForm {
    max-width: 30rem;
  }
  .estiloMenu {
    display: flex;
    flex-direction: column;
  }
  p {
    display: inline;
    font-size: 0.8rem;
  }
  .estiloBienvenida {
    font-size: 0.7rem;
    line-height: 1;
    text-align: justify;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .colorAqui {
    color: rgb(193, 233, 130);
    font-size: 0.8rem;
  }
  .tamañoFoto {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: none;
    max-width: 14rem;
  }
  
  .lugarFoto {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu {
    font-size: 0.6rem;
  }
  
  .colorMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  h2 {
    font-size: 0.9rem;
  }
  .productosOrganizacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
  }
  .fotoTamaño {
    max-width: 9rem;
  }
} 
/*Para tablets*/
@media screen and (min-width: 760px) and (max-width:1200px){
  .contenedor {
    grid-template-rows: 10rem auto auto auto auto 10rem;
    grid-template-columns: auto;
    grid-template-areas: 'headerIndex' "navIndex" 'main' 'asideIndex' 'sectionIndex' 'footerIndex';
    margin-left: 2rem;
    margin-right: 2rem;
  }
.estiloMenu{
  font-size: 0.9rem;
}
.colorAqui {
  color: rgb(193, 233, 130);
  font-size: 0.8rem;
}
.tamañoFoto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: none;
  max-width: 30rem;
}
}

/*Para computadoras*/
@media screen and (min-width: 1200px) {
  .contenedor {
    max-width: none;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    grid-row-gap: 2rem;
    grid-template-areas: 'headerIndex' 'navIndex' 'main' 'asideIndex' 'sectionIndex' 'footerIndex';
  }
  .posicionMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .estiloMenu{
    font-size: 1rem;
  }
  
  .tamañoFoto {
    /*frase*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    color: rgb(255, 255, 255);
    line-height: 1, 5;
    font-size: 1rem;
  }
  .menu {
    font-size: 1.2rem;
  }
  .posicionMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: darkseagreen;
    list-style-type: none;
  }

  .estiloBienvenida {
    font-size: 1.2rem;
  }
  .colorAqui {
    color: cornsilk;
    font-size: 1.4rem;
  }
  .lugarFoto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
