/* Para todas las páginas*/
/*import y variables*/
@import '_variables';
@import "_mediaQueries";
$colorPag: #fff8dc;
$colorAqui: rgb(193, 233, 130);
$fontSize: 1.5rem;
@mixin parrafos {
  color: $colorPag;
  font-size: ($fontSize)-0.4rem;
  line-height: normal;
  text-align: justify;
  margin-left: 2rem;
  display: inline;
}
@mixin padding {
  margin-left: 2rem;
  margin-right: 2rem;
}
/*Tipografía*/
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,300;1,200&family=Raleway:ital,wght@1,200&family=Shadows+Into+Light&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(rgb(88, 139, 88), rgb(245, 136, 11));
}
p {
  font-size: ($fontSize)-0.5rem;
}


.encabezado {
  color: $colorPag;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.estiloMenu {
  line-height: 2.5;
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
}

.estiloMenu:hover{
  text-decoration: underline;
}
.estiloTitulos {
  display: block;
  color: $colorPag;
  font-size: ($fontSize);
  font-weight: bold;
  line-height: 2;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: one;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tituloRedes {
  color: $colorPag;
  font-size: $fontSize;
  .estiloRedes {
    color: $colorPag;
    line-height: $fontSize;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
    font-size: 1rem;
  }
}
a {
  color: $colorPag !important;
}

.posicionMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: darkseagreen;
  list-style-type: none;
}


/*Para la página principal (INDEX)*/

.estiloBienvenida {
 @include parrafos();
  .colorAqui {
    color: rgb(86, 138, 94);
  }
}



/*Para el archivo de la página de los productos*/
.sectionCentrado{
  display: flex;
  justify-content: space-around;
}
p {
  color: $colorPag;
  line-height: 1, 5;
  font-size: ($fontSize)-0.5rem;
}
/*Para el archivo de la página "contactos"*/
legend {
  color: $colorPag;
  font-size: ($fontSize)+0.5rem;
  font-weight: bold;
  padding-bottom: ($fontSize) --0.3rem;
  line-height: 2;
}

.cuestionarioEstilo {
  display: block;
  font-size: ($fontSize) --0.2rem;
  color: $colorPag;
}

/*Para el archivo de la página nosotros*/

.infoGP {
  @include parrafos();
}
.margenInfoNosotros{
  @include padding();
}



