@charset "UTF-8";
/* Para todas las páginas*/
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,300;1,200&family=Raleway:ital,wght@1,200&family=Shadows+Into+Light&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#588b58), to(#9bcea3));
  background: linear-gradient(#588b58, #9bcea3);
}

.encabezado {
  color: cornsilk;
}

.estiloMenu {
  line-height: 2.5;
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
  font-size: 1.2rem;
}

h2 {
  display: block;
  color: cornsilk;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: one;
          animation-iteration-count: one;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tituloRedes {
  color: cornsilk;
  font-size: 1.5rem;
}

.tituloRedes .estiloRedes {
  color: cornsilk;
  line-height: 1.5;
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
  font-size: 1rem;
}

a {
  color: cornsilk !important;
}

.posicionMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: darkseagreen;
  list-style-type: none;
}

/*Para la página principal (INDEX)*/
.estiloBienvenida {
  color: cornsilk;
  font-size: 1.05rem;
}

.estiloBienvenida .colorAqui {
  color: #568a5e;
}

/*Para el archivo de la página de los productos*/
.productosOrganizacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 85%;
  margin-left: 5rem;
  margin-right: 5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

p {
  color: white;
  line-height: 1, 5;
  font-size: 1rem;
}

/*Para el archivo de la página "contactos"*/
legend {
  color: cornsilk;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1.2rem;
  line-height: 2;
}

.cuestionarioEstilo {
  display: block;
  font-size: 1.3rem;
  color: cornsilk;
}

/*Para el archivo de la página nosotros*/
.infoGP {
  color: cornsilk;
  font-size: 1rem;
  line-height: normal;
  font-size: 1.3rem;
  text-align: justify;
  margin-left: 2rem;
  display: inline;
}

.nosotrosOrganizacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 2;
}

/*MEDIA QUERIES*/
header {
  grid-area: headerIndex;
}

nav {
  grid-area: navIndex;
}

aside {
  grid-area: asideIndex;
}

section {
  grid-area: sectionIndex;
}

footer {
  grid-area: footerIndex;
}

main {
  grid-area: main;
}

.contenedorInfo {
  grid-area: contenedorInfo;
}

.contenedor {
  display: -ms-grid;
  display: grid;
}

/*Vista para celulares*/
@media screen and (min-width: 320px) and (max-width: 850px) {
  .contenedor {
    max-width: none;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 2rem;
        grid-template-areas: 'headerIndex' 'navIndex' 'main' 'asideIndex' 'sectionIndex' 'footerIndex';
  }
  .productosOrganizacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .tamañoFotoNosotros {
    max-width: 22rem;
  }
}

/*Para tablets*/
@media screen and (min-width: 850px) and (max-width: 1200px) {
  .contenedor {
    -ms-grid-rows: 10rem auto auto auto auto 10rem;
        grid-template-rows: 10rem auto auto auto auto 10rem;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 1rem;
        grid-template-areas: 'headerIndex' 'navIndex' 'main' 'asideIndex' 'sectionIndex' 'footerIndex';
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .estiloMenu {
    font-size: 0.9rem;
  }
  .colorAqui {
    color: #c1e982;
    font-size: 0.8rem;
  }
  .estiloMenu {
    font-size: 0.9rem;
  }
}

/*Para computadoras*/
@media screen and (min-width: 1200px) {
  .contenedor {
    max-width: none;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 2rem;
        grid-template-areas: 'headerIndex' 'navIndex' 'main' 'asideIndex' 'sectionIndex' 'footerIndex';
  }
}
/*# sourceMappingURL=estilo.css.map */